:root {
  --color-primary: #44f6fd;
  --color-accent: #fffffa;
  --color-default: #363636;

  --color-background: #242424;
  --color-card: #1b1b1b;

  --color-text: #f9f9f9;
  --color-label: #aaaaaa;
  --color-disabled: #888888;

  --length-md1: 1rem;
  --length-md2: 1.25rem;
  --length-md3: 1.5rem;
}


  
  body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 4rem;
    
  }


  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 0px;
    width: 100%;
  }

  input[type="text"]::placeholder{
    
    text-align: center;
 
  }

  h1{
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-primary);
    text-transform: uppercase;

  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .container{
    display: flex;
    flex-direction: column;
    padding: 1rem;;
    background-color: var(--color-card);
    border-radius: 1rem;
    align-items: center;
    
  }

 
  

  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  @media(min-width:768px){
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  @media(min-width:992px){
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .card {
    align-content: center;
    
    align-items: center;
    background-color: var(--color-card);
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    overflow: hidden;
  }
  
  .card p {
    background-color: var(--color-card);
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 25rem;
    height: 25rem;
  }
  

  .card-headline{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    gap: 4.75rem;
}

.card-headline-icon {
  display: grid;
  place-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--color-primary);
  font-size: 2.5rem;
  background: rgba(255, 255, 255, 0.1);
}

.card-h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin:0 auto
}

.card-h4 {
  margin: 0 auto;
  font-size: 0.75rem;
  color: var(--color-label);
}

